lepagoservice.wsdl

<definitions name="LepagoService"
  targetNamespace="http://www.example.org/lepagoservice/"
  xmlns:tns="http://www.example.org/lepagoservice"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <message name="loginReg">
    <part name="login_name" type="xsd:string"/>
    <part name="pubkey" type="xsd:string"/>
  </message>
    <message name="loginRegResp">
    <part name="status" type="xsd:string"/>
    <part name="idc" type="xsd:string"/>
    <part name="ciphertext" type="xsd:string"/>
    <part name="challenge" type="xsd:string"/>
  </message>
  <message name="loginReq">
    <part name="login_name" type="xsd:string"/>
    <part name="idc" type="xsd:string"/>
  </message>
  <message name="loginReqResp">
    <part name="challenge" type="xsd:string"/>
  </message>
  <message name="train">
    <part name="idc" type="xsd:string"/>
    <part name="body" type="xsd:string"/>
  </message>
  <message name="trainResp">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="imAlive">
    <part name="idc" type="xsd:string"/>
    <part name="ts" type="xsd:string"/>
  </message>
  <message name="imAliveResp">
    <part name="status" type="xsd:string"/>
    <part name="ts" type="xsd:string"/>
  </message>
  <message name="challengeResp">
    <part name="idc" type="xsd:string"/>
    <part name="crypted_hash" type="xsd:string"/>
  </message>
  <message name="challengeRespAck">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="metaInfo">
    <part name="idc" type="xsd:string"/>
    <part name="info" type="xsd:string"/>
  </message>
  <portType name="LepagoPortType">
    <operation name="loginReg">
      <input message="tns:loginReg"/>
      <output message="tns:loginRegResp"/>
    </operation>
    <operation name="loginReq">
      <input message="tns:loginReq"/>
      <output message="tns:loginReqResp"/>
    </operation>
    <operation name="challengeResp">
      <input message="tns:challengeResp"/>
      <output message="tns:challengeRespAck"/>
    </operation>
    <operation name="train">
      <input message="tns:train"/>
      <output message="tns:trainResp"/>
    </operation>
    <operation name="imAlive">
      <input message="tns:imAlive"/>
      <output message="tns:imAliveResp"/>
    </operation>
  </portType>
  <binding name="LepagoBinding" type="tns:LepagoPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="loginReg">
      <soap:operation soapAction="http://www.example.org/lepagoservice#loginReg"/>
      <input>
        <soap:body use="literal" namespace="http://www.example.org/lepagoservice/"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:body use="literal"/>
        <soap:body use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loginReq">
      <soap:operation soapAction="http://www.example.org/lepagoservice#loginReq"/>
      <input>
        <soap:body use="literal"  namespace="http://www.example.org/lepagoservice/"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="challengeResp">
      <soap:operation soapAction="http://www.example.org/lepagoservice#challengeResp"/>
      <input>
        <soap:body use="literal"  namespace="http://www.example.org/lepagoservice/"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="train">
      <soap:operation soapAction="http://www.example.org/lepagoservice#train"/>
      <input>
        <soap:body use="literal"  namespace="http://www.example.org/lepagoservice/"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="imAlive">
      <soap:operation soapAction="http://www.example.org/lepagoservice#imAlive"/>
      <input>
        <soap:body use="literal"  namespace="http://www.example.org/lepagoservice/"/>
        <soap:body use="literal"  namespace="http://www.example.org/lepagoservice/"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LepagoService">
    <port name="LepagoPort" binding="tns:LepagoBinding">
      <soap:address location="http://localhost:32000/lepagoservice"/>
    </port>
  </service>
</definitions> 